body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: grey;
  }
  html {
    height: -webkit-fill-available;
  }
  
  .container {
    background-color: purple;

  }
  
  main {
    background-color: green;
    overflow-y: auto;
    max-height: 100vh;
    padding: 1rem;
  }

  input {
      font-size: 18px;
      width: 100%;
  }