body {
    height: 100%;
    background-color: grey;
    margin: 0;
    display: block;
    border: 1px solid red;
    padding: 0;
  }
div {
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  html {
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid blue;
  }
  
.root {
    min-height: 100vh;
}

  .container {
    background-color: purple;
  }

  .content-container div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  main {

    max-height: 100vh;
    overflow-y: auto;
    background-color: tan;
    padding: 1rem;
  }

  input {
      font-size: 18px;
      width: 100%;
  }