body {
    height: -webkit-fill-available;
    background-color: grey;
    margin: 0;
    display: block;
    border: 1px solid red;
    padding: 0;
  }
div {
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  html {
    height: -webkit-fill-available;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid blue;
  }
  
.root {
    height: -webkit-fill-available;
}

  .container {
    background-color: purple;
    height: -webkit-fill-available;
  }

  .content-container div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  main {
    background-color: tan;
    height: -webkit-fill-available;
    padding: 1rem;
  }

  input {
      font-size: 18px;
      width: 100%;
  }